.avatar{
    width: 100px;
    border-radius: 3px;
}
.fondo{
    background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 21%, #B5FFFC 54%, #ffffff 99%, #ffffff 100%);


}
.iconos{
   text-decoration:none;

}